<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <th:block th:replace="fragments/head.html :: static_head"></th:block>
</head>

<body class="bg-dark">
<th:block th:replace="fragments/menu.html :: classic_menu"></th:block>
<main>
   <section class="welcome-section">
      <div class="container text-white">
         <div class="row align-items-center">
            <div class="col-12 font-weight-bold text-center">
               <h1 class="display-1"> ZA IMPERATORA  </h1>
               <h1> pupa_Piotrka_jezd_smaczna </h1>
            </div>
         </div>
      </div>
   </section>
</main>
<th:block th:replace="fragments/script.html :: static_script"></th:block>

</body>

</html>
